<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D&amp;D Stat Blocks</title>
        <link href="resources/normalize.css" media="all" rel="stylesheet"/>
        <link href="resources/stat-block.css" media="all" rel="stylesheet"/>
    </head>
    <body class="letter">
        {{> stat-block}}
    </body>
</html>
