{
 :name "sample monster"
 :size "medium"
 :type "humanoid (any race)"
 :alignment "any alignment"
 :ac 12
 :ac-details "armor details"
 :hp "2d6 + 2"
 :movements [
             {
              :name "base"
              :value 20
              }
             {
              :name "burrow"
              :value 10
              }
             {
              :name "fly"
              :details "(hover)"
              :value 60
              }
             ]
 :abilities {
             :str 18
             :dex 18
             :con 18
             :int 18
             :wis 18
             :cha 18
             }
 :saving-throws [
                 {:ability "str" :modifier 6}
                 {:ability "cha" :modifier 6}
                 ]
 :skills [
          {:name "deception" :modifier 6}
          ]
 :condition-immunities ["petrified"]
 :damage-vulnerabilities ["cold" "radiant"]
 :damage-resistances [
                      "fire"
                      {:details "from non-magical weapons"
                       :types ["slashing" "piercing" "bludgeoning"]}
                      ]
 :damage-immunities ["acid" "poison" "necrotic"]
 :senses ["passive Perception 14"]
 :languages ["any one language (usually Common)"]
 :challenge 1/8
 :xp 25
 :actions [
           {
            :name "scimitar"
            :attack-type "Melee Weapon Attack"
            :to-hit 3
            :reach 5
            :target "one target"
            :hit "1d6 + 1"
            :damage-type "slashing"
            }
           {
            :name "light crossbow"
            :attack-type "Ranged Weapon Attack"
            :to-hit 3
            :range [80 320]
            :target "one target"
            :hit "1d8 + 1"
            :damage-type "piercing"
            }
           {
            :name "dagger"
            :attack-type "Melee or Ranged Weapon Attack"
            :to-hit 3
            :reach 5
            :range [20 60]
            :target "one target"
            :hit "1d4 + 1"
            :damage-type "piercing"
            }
           ]
 :legendary-actions {:intro "This is a blurb."
                     :actions [{:name "Rawr" :text "This is legendary!"}]}
 :reactions [
             {
              :name "reactive ability \\#1"
              :text "This is an example reaction."
              }
             ]
 :features [
            {
             :name "Keen smell"
             :text "This is where I talk about keen smell."
             }
            ]
 }
