{:monster
 {:senses "",
  :damage-resistances "",
  :legendary-actions {:intro "", :actions {"0" {:name "", :text ""}}},
  :ac "",
  :damage-vulnerabilities "psychic, fire, cold",
  :name "Sample Monster",
  :damage-immunities "",
  :alignment "",
  :type "",
  :abilities {:str "", :cha "", :con "", :dex "", :wis "", :int ""},
  :actions
  {"0"
   {:damage-details "",
    :to-hit "",
    :attack-type "",
    :hit "",
    :name "",
    :reach "",
    :damage-type "",
    :target "",
    :range ["" ""],
    :text ""}},
  :size "",
  :skills {"0" {:name "", :modifier ""}},
  :saving-throws {"0" {:ability "", :modifier ""}},
  :challenge "",
  :condition-immunities "",
  :hp "",
  :xp "",
  :languages "",
  :movements {"0" {:value "", :name "base"}},
  :reactions {"0" {:text "", :name ""}},
  :ac-details "",
  :traits {"0" {:name "", :text ""}}}}
